html {
    font-family: "Roboto", Arial, sans-serif;
}

body {
    margin: 0;
}

.header-div {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    padding: 0px 100px;
    gap: 25px;
}

.header-logo {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
}

.header-link-one, .header-link-two, .header-link-three {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-div {
    display: flex;
    background-color: #1f2937;
    padding: 50px 100px 100px 100px;
    gap: 25px;
    align-items: center;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

.hero-text {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    width: 100px;
    height: 28px;
}

.hero-button {
    background-color: #3882f6;
    color: white;
    border-radius: 7px;
    padding: 4px 25px;
    border: solid #3882f6 1px;
}

.hero-button:hover {
    cursor: pointer;
    background-color: #1f2937;
    border-color: #3882F6;
}

.hero-image-div {
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    min-height: 200px;
    padding: 10px;
}

.placeholder-text {
    color: whitesmoke;
}

img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    justify-content: center;
  }
  
.information-div {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding-top: 50px;
  }
  
.secondary-information-div {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    gap: 5%;
  }

.text {
    width: 100px;
  }

.photo {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    border:solid 3px #3882F6;
}

.quote-div {
   background-color: #e5e7eb; 
   padding: 100px 200px;    
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    color: #1f2937;
    font-weight: 900;
    text-align: end;
    padding-right: 35px;
}

.signup-div {
    padding: 50px 100px;
}

.signup-div-box {
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    padding: 25px 20px;
    gap: 25px;
}

.signup-title {
    font-size: large;
    font-weight: 600;
}

.signup-subtext {
    font-size: medium;
    font-weight: 300;
}

.signup-button {
    color: white;
    background-color: #3882F6;
    border: solid white 1px;
    border-radius: 7px;
    padding: 4px 25px;
    display: flex;
}

.signup-button:hover {
    color: #3882F6;
    cursor: pointer;
    background-color: white;
}

.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: small;
}