html {
    font-family: "Roboto", Arial, sans-serif;
}

body {
    margin: 0;
}

.header-div {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    padding: 0px 100px;
    gap: 25px;
}

.header-logo {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
}

.header-link-one, .header-link-two, .header-link-three {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-div {
    display: flex;
    background-color: #1f2937;
    padding: 50px 100px 100px 100px;
    gap: 25px;
    align-items: center;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

.hero-text {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-button {
    background-color: #3882f6;
    color: white;
    border-radius: 7px;
    padding: 4px 25px;
    border: #3882f6;
}

.hero-image-div {
    background-color: darkgrey;
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    flex 0 0 1;
    padding: 10px;
}

.placeholder-text {
    color: whitesmoke;
}

img {
    width: 100px;
    height: 100px;
    max-width: 200px;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    justify-content: center;
  }
  
.information-div {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding-top: 50px;
  }
  
.secondary-information-div {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    gap: 5%;
  }

.text {
    width: 100px;
  }

.beach1 {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    border:solid 3px #3882F6;
}

.beach2 {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    border: solid 3px #3882F6;
}

.beach3 {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    border: solid 3px #3882F6;
}

.beach4 {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    border: solid 3px #3882F6;
}